@import "../typography.scss";

.discription {
  margin-top: 7%;
  max-width: 540px;
  animation: move 1s ease-in-out;

  &-title {
    h1 {
      font: {
        weight: $font-weight--m;
        size: $font-size--xxl;
      }
      line-height: 1;
    }
  }

  &-subtitle {
    font: {
      weight: $font-weight--xs;
      size: $font-size--m;
    }
    line-height: $line-height--l;
    color: $sea;
    margin-top: 26px;
  }

  &-btn {
    @include btn;
    @include hoverViolet;
    margin-top: 36px;
  }
}
