.discription {
  margin-top: 7%;
  max-width: 540px;
  animation: move 1s ease-in-out;

  &-title {
    h1 {
      font-weight: 600;
      font-size: 100px;
      line-height: 100px;
    }
  }

  &-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $sea;
    margin-top: 26px;
  }

  &-btn {
    @include btn;
    @include hoverViolet;
    margin-top: 36px;
  }
}
