@import "../animation.scss";
@import "../typography.scss";

.dual {
  column-gap: 5%;
  margin-top: 20px;
  transition: column-gap 0.5s;

  &-description {
    max-width: 410px;

    p {
      font: {
        size: $font-size--m;
        weight: $font-weight--xs;
      }
      line-height: $line-height--l;
      color: $sea;
      margin-bottom: 22px;

      span {
        font-weight: $font-weight--l;
      }
    }

    &__info {
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;
    }

    &__price {
      font: {
        weight: $font-weight--l;
        size: $font-size--l;
      }
      line-height: $line-height--s;
    }

    &__btn {
      @include btn(orange);
      @include hoverOrange;
      padding: 14px 19px;
      font-weight: $font-weight--s;
    }
  }
  &-img {
    max-width: 50%;
    position: relative;

    img {
      max-width: fit-content;
      animation: gravitation 1.5s linear infinite alternate;
    }
    &::before {
      content: "";
      display: block;
      width: 194px;
      height: 119px;
      background: rgba(79, 96, 152, 0.8);
      filter: blur(75px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
