@import "../typography.scss";

.editions {
  &-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 16px;
    justify-content: center;
  }

  &-item {
    background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
    border-radius: 6px;
    padding: 17px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(0);

    &__img {
      border-radius: 6px;
      overflow: hidden;
      width: 100%;
      height: 172px;
      @include bg;
    }

    &__title {
      font: {
        size: $font-size--m;
        weight: $font-weight--l;
      }
      line-height: 1;
      margin-top: 20px;
      text-align: center;
    }

    &__subtitle {
      font: {
        size: $font-size--s;
        weight: $font-weight--s;
      }
      line-height: $line-height--s;
      color: $sea;
      text-align: center;
      margin: 10px 0 32px 0;
    }

    &__description {
      font: {
        size: $font-size--xs-2;
        weight: $font-weight--xs;
      }
      line-height: $line-height--s;
      color: $grey;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }

    &__price {
      font: {
        size: $font-size--m-2;
        weight: $font-weight--l;
      }
      line-height: $line-height--s;
      color: $white;
      margin: 6px 0 14px 0;
      text-align: right;
    }

    &__btn {
      @include btn;
      @include hoverViolet;
      padding: 8px 18px;
      font-size: $font-size--xs;
      line-height: $line-height--m;
      margin-left: auto;
    }
  }
}
