@import '../typography.scss';

.news {
  margin-top: 32px;
  transition: transform 0.5s;
  transform: translate(0);

  &-item {
    background: linear-gradient(177.87deg, #30373f 43.63%, #141615 185.57%);
    border-radius: 6px;
    padding: 20px;

    &__info {
      justify-content: space-between;
      align-items: center;
    }
    &__subtitle {
      font: {
        weight: $font-weight--m;
        size: $font-size--xxs;
      }
      line-height: $line-height--s;
      text-transform: uppercase;
      color: $violet;
    }

    &__date {
      font: {
        weight: $font-weight--xs;
        size: $font-size--xxs;
      }
      line-height: $line-height--l-2;
      color: $grey;
    }

    &__title {
      font: {
        weight: $font-weight--m;
        size: $font-size--m-2;
      }
      line-height: $line-height--s;
      text-transform: uppercase;
      color: $white;
      margin: 7px 0 16px 0;
    }

    &__description {
      column-gap: 24px;
      height: 248px;
      align-items: flex-start;
    }

    &__img {
      min-width: 278px;
      height: 100%;
      @include bg;
    }

    &__text {
      flex-direction: column;
      height: 100%;

      p {
      font: {
        weight: $font-weight--xs;
        size: $font-size--xs;
      }
      line-height: $line-height--l;
        color: #d9d9d9;
      }
    }

    &__btn {
      font: {
        weight: $font-weight--s;
        size: $font-size--xs;
      }
      line-height: $line-height--m;
      background: $grey;
      border-radius: 6px;
      text-transform: uppercase;
      color: $white;
      margin-top: 10px;
      padding: 8px 30px;
      display: flex;
      width: max-content;
      margin-left: auto;
      margin-top: auto;
      transition: background 0.25s;

      &:hover {
        background: $dark;
      }
    }
  }
}

.swiper {
  &-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: #8c96a0;
    border-radius: 6px;
    z-index: 9;
    transition: background 0.25s;

    &:hover {
      background: $violet;
    }

    svg {
      fill: #fff;
    }

    &-prev {
      left: 10%;
    }

    &-next {
      right: 10%;

      svg {
        transform: scale(-1, 1);
      }
    }
  }
}
