.section {
    &-main {
        padding-top: 40px;
        position: relative;
        min-width: 1920px;
        margin: 0 auto;
        min-height: 70vh;

        &:after, &:before{
            height: 764px;
            width: 1363px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        
        &:after {
            background: url(../img/snow.gif) no-repeat center/cover;
            opacity: .1;
        }

        &:before {
            background: url(../img/bg.png) no-repeat center/cover;
        }
    }
}

.header {
    
}