@import "./colors.scss";
@import "./mixins.scss";
//@import './animation.scss';

@import "./styleSection.scss/headerSection.scss";
@import "./styleSection.scss/discriptionSection.scss";
@import "./styleSection.scss/editionsSection.scss";
@import "./styleSection.scss/dualSection.scss";
@import "./styleSection.scss/videoSection.scss";
@import "./styleSection.scss/exploreSection.scss";
@import "./styleSection.scss/newsSection.scss";
@import "./styleSection.scss/faqSection.scss";
@import "./styleSection.scss/footerSection.scss";
@import "./styleSection.scss/modal.scss";

.section {
  &.hidden {
    .editions {
      &-item {
        transition: transform 0s;
        transform: translateX(-2000px);
      }
    }
    h2,
    .explore-switch,
    .faq-item {
      transition: opacity 0s;
      opacity: 0;
    }
    .dual,
    .explore-info {
      transition: column-gap 0s;
      column-gap: 250%;
    }
    .video {
      transition: transform 0s;
      transform: scale(0);
    }
    .news,
    .faq-item {
      transition: transform 0s;
      transform: translateX(-200%);
    }
  }
  &-main {
    padding-top: 40px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 700px;

    &:after,
    &:before {
      height: 764px;
      width: 1363px;
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &:after {
      background: url(../img/snow.gif) no-repeat center/cover;
      opacity: 0.1;
    }

    &:before {
      background: url(../img/bg.png) no-repeat center/cover;
    }
  }

  &-dual {
    margin-top: 54px;
  }

  &-about {
    margin-top: 90px;
  }

  &-explore {
    margin-top: 80px;
  }

  &-news,
  &-faq {
    margin-top: 100px;
  }
}
