// font families
$font-family--default: "Rubik",'Roboto', sans-serif;

// font weights
$font-weight--xs: 400;
$font-weight--s: 500;
$font-weight--sm: 600;
$font-weight--m: 700;

// font sizes
$font-size--s: 16px;
$font-size--xs: 18px;
$font-size--sm: 30px;
$font-size--m: 40px;
$font-size--l: 100px;

$line-height--s: 1;
$line-height--xs: 1.2;



$line-height--m: 1.5;
$line-height--sm: 1.175;
$line-height--s: 1;
$line-height--s: 1;
1.2
